connectionTimeout = 20

streams {
    mirror {
        dir = "both"
        filter = { "kinds": [10002] }

        urls = [
            {% for url in strfry_mirror_urls %}
            "{{ url }}"
            {% endfor %}
        ]
    }
}
